<!DOCTYPE html>
<html>
<head>
	<title>Foodish</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div>
		<div class="header">
			<ul class="tabs z-depth-1">
				<li class="tab col s3">
					<a href="/menu">Menu Items</a>
				</li>
				<li class="tab col s3">
					<a href="/category">Categories</a>
				</li>
				<li class="tab col s3">
					<a href="/order">Orders</a>
				</li>
				<li class="tab col s3">
					<a href="/customer" class="active disabled">Customers</a>
				</li>
				<li class="tab col s3 right">
					<a href="">
						<i class="material-icons">shopping_cart</i>
					</a>
				</li>
			</ul>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s8 title-page">
					<h4>Customer</h4>
				</div>
				<div class="col s4 add-menu right">
					<h4>
						<a class="btn" href="/customer/add">Add</a>						
					</h4>
				</div>
				<table>
			        <thead>
			          <tr>
			              <th>Name</th>
			              <th>Phone Number</th>
			              <th>Action</th>
			          </tr>
			        </thead>
			        <tbody>
			          <% customers.each do |customer| %>
			          <tr>
			            <td><%= customer.name %></td>
			            <td><%= customer.phone_number %></td>
			            <td>
			            	<a href="/customer/edit/<%= customer.id %>"><i class="material-icons">edit</i></a>
			            	<a href="/customer/delete/<%= customer.id %>"><i class="material-icons">delete</i></a>
			            </td>
			          </tr>
			          <% end %>
			        </tbody>
			    </table>
			</div>
		</div>
	</div>
</body>
</html>